.image-cards {
  height: 266px;
  width: 196px;
  border: 1px solid;
  overflow: hidden;
}

.image-cards img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; keeps the aspect ratio */
  transform-origin: center center;
  transition: transform 0.7s ease;
}

.image-cards:hover img {
  transform: scale(1.3);
}

.productCard {
  width: 196px; /* prevents layout breaking */
  display: flex;
  flex-direction: column;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  padding: 100px 69px 0px;
}

.product-description {
  width: 196px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 11px;
}
