.featured-product-image {
  width: 630px;
  height: 700px;
  overflow: hidden;
}

.featured-product-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;

  transform-origin: center center;
}
.featured-product-image:hover img {
  transform: scale(1.3);
}
.featured-product-container {
  display: flex;
  gap: 100px;
  padding: 10px 120px;
}

.featured-product-inner-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 60px;
  font-weight: 900;
  font-size: 18px;
}
.featured-product-buySize {
  display: flex;
  gap: 33px;
  font-size: 16px;
  align-items: center;
}
.featured-product-sizeElement {
  border: 1px solid black;
  padding: 7px 10px;
  color: #272727;
}
.featured-product-sizeElement:hover {
  border: 1px solid black;
  padding: 7px 10px;
  color: #ffffff;
  background-color: rgb(2, 2, 2);
}
.selected-size {
  background-color: black;
  color: white;
}
.buy-btn {
  border: 1px solid;
  background: none;
  padding: 15px 100px;
  font-weight: bolder;
  font-size: 18px;
}

.payment-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.buy-btn-1 {
  border: 1px solid;
  background: none;
  padding: 15px 113px;
  font-weight: bolder;
  font-size: 18px;
}
.featured-product-description ul {
  font-weight: 200;
  padding: 15px 0px 15px 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
