.footer-section1 {
  width: 25%;
}
.footer-section2 {
  width: 25%;
}
.footer-section3 {
  width: 25%;
}
.footer-section4 {
  width: 25%;
}

.footer-container {
  display: flex;
  padding: 80px;
  /* width: calc(100% - 130px); */
  justify-content: space-evenly;
  background-color: #f1ece2;
}
.footer-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social-media-icons {
  display: flex;
  gap: 20px;
  font-size: 25px;
}
.newsletter-form button {
  font-size: 20px;
  padding: 2px 20px;
  background-color: black;
  color: white;
  border: none;
}
.newsletter-form input {
  font-size: 20px;
  padding: 2px 0 2px 12px;
}
.newsletter-form {
  display: flex;
}
