.home-galary-heading {
  width: 55%;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 90px;
}
.home-galary-heading p {
  color: #64686c;
}
.home-galary-container {
  background-color: #f1ece2;
  padding-bottom: 70px;
}
.home-galary-womenGalary {
  display: flex;
  gap: 20px;
  margin: 0px 66px 20px;
}
.home-galary-menGalary {
  display: flex;
  gap: 20px;
  margin: 0px 66px 20px;
}
